# copy this to config.py and edit the host URL to the URL for your cosmos DB
import os

settings = {
    'host': os.environ.get('ACCOUNT_HOST', 'https://<cosmosdbname>.documents.azure.com:443/'),
    'database_id': os.environ.get('COSMOS_DATABASE', 'Default Database'),
    'container_id': os.environ.get('COSMOS_CONTAINER', 'Users'),
}